<%= link_to "<i class='fa fa-arrow-circle-left  2x'></i> Back to list".html_safe, admin_appointments_path %>

<%= turbo_frame_tag "appointment__#{@appointment.id}" do  %>

  <div class="cell editable" style="position: relative;">

    <% if @appointment.errors.any? %>
      <%= render(partial: "admin/errors", locals: {resource: @appointment }) %>
    <% end %>

    <h2>Editing <%= @appointment.name %></h2>
    <%= form_with model: @appointment, url: admin_appointment_path(@appointment) do |f| %>
    <%=  render partial: "form",  locals: {:appointment => @appointment, f: f} %>
    <% end %>

  </div>

<% end %>


