<%= link_to "<i class='fa fa-arrow-circle-left  2x'></i> Back to list".html_safe, admin_humans_path %>

<%= turbo_frame_tag "human__#{@human.id}" do  %>

  <div class="cell editable" style="position: relative;">

    <% if @human.errors.any? %>
      <%= render(partial: "admin/errors", locals: {resource: @human }) %>
    <% end %>

    <h2>Editing <%= @human.name %></h2>
    <%= form_with model: @human, url: admin_human_path(@human) do |f| %>
    <%=  render partial: "form",  locals: {:human => @human, f: f} %>
    <% end %>

  </div>

<% end %>


