<!DOCTYPE html>
<html>
  <head>
    <title>PetSpa</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>

  <%= render partial: 'layouts/flash_notices' %>
  
    <%= yield %>


  <% if current_human %>
  <br /><br /><br /><br />
  <hr />
    <em>You are logged in as <%= current_human.email %></em>
  <%= button_to  "Log out", destroy_human_session_path, method: :delete %>
    <% end %>
  </body>
</html>
